.single-product h3 {
  color: #0089bb;
}

.single-product p {
  text-align: left;
  word-spacing: 10px;
  line-height: 30px;
}

.title {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.product-img img {
  width: 75%;
  height: 375px;
}