body {
  margin: 0;
  background-color: #f5f5f5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: #6C119C;
}

.row {
  margin: 0px;
  padding: 0px;
}

.products {
  margin-bottom: 1rem;
}

.card img {
  width: 100%;
  height: 350px;
}

.card .card-body {
  height: 80px;
  text-align: left;
}

.card .card-text {
  text-align: left;
  padding: 1rem;
  margin-bottom: 0px;
}

.card .btn {
  background-color: #FF9686;
  border-color: #FF9686;
  border-radius: 0px;
  color: #fcf0e5;
}

.card .btn:hover {
  background-color: #cd7568;
  border-color: #cd7568;
  color: #fcf0e5;
}
.btn-color {
  background-color: #FF9686;
  border-color: #FF9686;
  color: #fcf0e5;
}
.btn-color:hover {
  background-color: #cd7568;
  border-color: #cd7568;
  color: #fcf0e5;
}
.btn-block {
  width: 100%;
}
.link {
  text-decoration: none;
  color: #FF9686;
}

.link:hover {
  color: #cd7568; 
}

.title {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.text-white {
  padding-right: 10px;
  color: #dddddd;
  align-self: center;
}

.logout {
  padding-right: 15px;
  color: #dddddd;
  align-self: center;
}
.logout:hover{
  color: #cd7568;
}

.search-products {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.product-img img{
  width: 100%;
}

/* Register page  */
.register-margin {
  padding-bottom: 10px;
}

.font-setting {
  font-family: 'Ubuntu', sans-serif;
}

.headup {
  color: #879ba3;
  font-style: italic;
}

/* Single product page */
.single-product h3 {
  padding-bottom: 30px;
  color: #0089bb;
}

.single-product p {
  text-align: left;
  word-spacing: 10px;
  line-height: 30px;
  padding-bottom: 30px;
}

/* Carts page */
.carts h1 {
  font-family: 'Ubuntu', sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
  font-style: italic;
}

.carts p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
  color: #FF9686;
}

.cart-item {
  font-family: 'Ubuntu', sans-serif;
  padding: 10px 0px;
}

.remove {
  color: #ffa62b;
}

.remove:hover {
  color: #e59368;
}

.total {
  font-family: 'Ubuntu', sans-serif;
  text-align: right;
  font-size: 20px;
  color: #0089bb;
}
.carts-bottom {
  padding-bottom: 80px;
}

.go-back {
  margin: 1rem;
}

/* footer setting  */
footer {
  text-align: center;
  padding: 3px;
  color: #474c55;
  display: block;
  font-family: 'Ubuntu', sans-serif;
  padding-top: 20px;
}

/* Form validation CSS */
#Input-Email-Login:invalid, #Input-Password-Login:invalid {
  border:  2px dashed red;
}

#Input-Email-Login:valid, #Input-Password-Login:valid {
  border:  2px solid green;
}

